@model SampleProject.Entity.Entity.TeacherModel
@{
    ViewData["Title"] = "AddTeacher";
}


<h1>Welcome to Register Teacher Page</h1>
<form method="post">
    <div class="form-group">
        <label class="form-label">Teacher Name</label>
        <input type="text" class="form-control" asp-for="TeacherName">
    </div>
    <div class="form-group">
        <label class="form-label">Teacher Salary</label>
        <input type="text" class="form-control" asp-for="Salary">
    </div>
    <div class="form-group">
        <label class="form-label">Teacher Skills</label>
        <input type="text" class="form-control" asp-for="Skills">
    </div>
    <div class="form-group">
        <label class="form-label">Date Of Joining</label>
        <input type="date" class="form-control" asp-for="AddedOn">
    </div>
    <div class="form-group">
        <label class="form-label">Total Students</label>
        <input type="text" class="form-control" asp-for="TotalStudents">
    </div>
    <button type="submit" class="btn btn-primary" value="Register">Register</button>"
    <button type="reset"  class="btn btn-secondary">Clear Form</button>

    <hr />

    @if (ViewBag.status == "success")
    {
        <div class="alert alert-success">
            @ViewBag.message
        </div>
    }
    else
    {
        <div class="alert alert-danger">
            @ViewBag.message
        </div>
    }
</form>