@model MyMovieApp.Entity.UserModel
@{
    ViewData["Title"] = "DeleteUsers";
}

<h1>DeleteUsers</h1>

<h1>Welcome To Delete User Details Page</h1>
<a asp-action="ShowUserDetails">Show Users</a>
<form method="post">
    <div class="form-group">
        <label class="form-label">First Name</label>
        <input type="text" class="form-control" asp-for="FirstName">
    </div>
    <div class="form-group">
        <label class="form-label">Last Name</label>
        <input type="text" class="form-control" asp-for="LastName">
    </div>
    <div class="form-group">
        <label class="form-label">email</label>
        <input type="email" class="form-control" asp-for="Email">
    </div>
    <div class="form-group">
        <label class="form-label">Mobile</label>
        <input type="text" class="form-control" asp-for="Mobile">
    </div>
    <button type="submit" class="btn btn-primary" value="Register">Delete User</button>"
    <button type="reset"  class="btn btn-secondary">Clear Form</button>

    <hr />
    @if (ViewBag.status == "Success")
    {
        <div class="alert alert-success">
            @ViewBag.message
        </div>
    }
    else
    {
        <div class="alert alert-danger">
            @ViewBag.message
        </div>
    }
</form>